<div class="modal-dialog modal-lg">
  <div class="modal-content">
    {{#if ajaxContentLoaded }}
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 id="modal-title" class="modal-title">
          {{ t "status.titles.compile_info" runid=ajaxContent.runid }}
        </h4>
      </div>
      <div class="modal-body">
        <pre>{{ ajaxContent.ce_info }}</pre>
      </div>
    {{else}}
      <div class="modal-body">
        {{ ajaxLoadingHtml }}
      </div>
    {{/if }}
  </div>
</div>
